<ul id="parent">
    {% for child in Children %}
        <li>
            <h2 class="text-3xl font-bold underline text-pink-800">Hello {{child.FirstName}} {{child.LastName}}</h2>
        </li>
    {% endfor %}
</ul>